<div class="container-fluid">
  <div  class="row">
    <div id="search-wrapper" class="col-sm-12">
      <div class="row">
        <form 
          id="search-area"
          class="offset-sm-9 col-sm-3"
          [formGroup]="searchForm"
        >
          <div class="form-group">
            <label for="search">Search:</label>
            <input type="search" formControlName="text" class="form-control" placeholder="Search" >
          </div>  
        </form>
      </div>
    </div>
    <div class="col-sm-3 scrollable">
      <app-states-list
        [states]="states"
        (stateClicked)="onStateClicked($event)"
      >  
      </app-states-list>
    </div>
    <div class="col-sm-6 scrollable">
      <app-state-details
        [state]="currentState"
        [loading]="loading"
      >

      </app-state-details>
    </div>
    <div class="col-sm-3 scrollable">
      <app-states-list
        [states]="filteredStates"
        (stateClicked)="onStateClicked($event)"
      >  
      </app-states-list>
    </div>
  </div>
</div>

